<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  
    <title>Lacy Dog Directory</title>
  </head>
  <body>
    <header>
<%- include ('./partials/head.ejs') %>
</header>
    <hr>
    <div class="container">
      <table class="table table-bordered table-hover">
        <tbody class="item">
            <tr>
              <thead>
                <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Sex</th>
                <th>Kennel</th>
                <th>Birthdate</th>
                </tr>
              </thead>
              <tr>
                <%for (let i = 0; i < registry.length; i++) { %>
            <td>
              <a href="/registry/<%=registry[i].id%>"><%=registry[i].name%></a>
            </td>
            <td>
              <a href="/registry/<%=registry[i].id%>"><%=registry[i].color%></a>
            </td>
            <td>
              <a href="/registry/<%=registry[i].id%>"><%=registry[i].sex%></a>
            </td>
            <td>
              <a href="/registry/<%=registry[i].id%>"><%=registry[i].kennel%></a>
            </td>
            <td>
              <a href="/registry/<%=registry[i].id%>"><%=registry[i].birthdate%></a>
            </td>
            <td>
              <a href="/registry/<%=registry[i].id%>/edit?_method=PUT">Edit </a>
            </td>
            <td>
              <form action="/registry/<%=registry[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
            </tr>
            <%  } %>
        </tbody>
      </table>
      <nav class="nav-item">
        <a class="nav-link" href="/registry/new" tabindex="-1" aria-disabled="true">Add New Item</a>
      </nav>
    </div>
  </body>
</html>
