<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>Lacy Dog Directory</title>
  </head>
  <body>
    <%- include ('./partials/head.ejs') %>
    <hr>
  <div>
  <h4><%=registry.name%>'s Page</h4>
</div>
  <div class="container">
    <table class="table table-bordered table-hover">
      <tbody class="item">
          <tr>
            <thead>
              <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Sex</th>
              <th>Kennel</th>
              <th>Birthdate</th>
              </tr>
            </thead>
            <tr>

          <td>
            <%=registry.name%></a>
          </td>
          <td>
            <%=registry.color%></a>
          </td>
          <td>
            <%=registry.sex%></a>
          </td>
          <td>
            <%=registry.kennel%></a>
          </td>
          <td>
            <%=registry.birthdate%></a>
          </td>

      </tbody>
    </table>
    <form>

        <button type="button"><a href="/registry">Back</a></button>
        <a href="/registry/<%=registry.id%>/edit?_method=PUT">Edit </a>

  </body>
</html>
